.list-dropdown {
  position: relative;
  width: 100%;
  margin-top: 30px;

  &__button {
    width: 145px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    border: 2px solid $curiousBlue;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;

    .icon-plus {
      color: $aluminiumapprox;
      background: transparent;
    }

    span {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 3px;
    }
  }

  &__content {
    position: absolute;
    width: 262px;
    height: auto;
    top: 46px;
    left: 0;
    background: $shark;
    border: 2px solid $tuna;
    border-radius: 4px;
    padding: 15px 5px;
    z-index: 1;

    .list-dropdown__textarea {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 15px;

      .list-add-content__description {
        width: 257px;
      }

      .span {
        align-items: flex-start;
      }
    }

    .list-dropdown__context--input {
      width: 257px;
      height: 24px;
      border: 1px solid $emperor;
      border-radius: 4px;
      outline: none;
      margin-bottom: 15px;
      padding: 6px;
    }

    .list-dropdown__degree {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      &--text {
        color: $emperor;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 3px;
      }

      &--input {
        width: 100%;
        height: 24px;
        border: 1px solid $emperor;
        border-radius: 4px;
        padding: 6px 6px 6px 2px;
        outline: none;
        cursor: pointer;
        overflow: hidden;
      }
    }

    .list-dropdown__confirmation-content {
      width: 100%;
      justify-content: flex-end;
      display: flex;

      .list-dropdown__confirmation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 190px;
        height: 30px;
        color: $white;
        margin-top: 14px;
        border: 1px solid $white;
        border-radius: 4px;
        cursor: pointer;
        background: $black;

        &:hover {
          background: $burntSienna;

          span {
            color: $white;
          }

          .icon-chevrons-down {
            color: $gunPowder;
          }
        }
        span {
          font-size: 14px;
          margin-bottom: 3px;
          color: $white;
          margin-bottom: 0;
        }

        .icon-chevrons-down {
          color: $carnation;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    .buttons-wrapper {
      position: relative;
    }
  }
}
