.list-add-content {
  width: 280px;
  height: auto;
  background: $curiousBlue;
  padding: 15px 5px;
  margin-top: 50px;
  border: 2px solid $emperor;
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 261px;
    height: 30px;
    color: $white;
    font-size: 14px;
    background: $shark;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;

    &--task {
      display: flex;
      align-items: center;

      svg:first-child {
        margin-right: 12px;
        cursor: pointer;
      }

      span {
        margin-right: 12px;
      }
    }
  }

  &__degree {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    input {
      width: 100%;
      height: 24px;
      border: 1px solid $emperor;
      border-radius: 4px;
      padding: 6px 6px 6px 2px;
      outline: none;
      cursor: pointer;
      overflow: hidden;
    }
  }

  &__description {
    width: 265px;
    padding: 6px;
    resize: none;
    outline: none;
  }

  &__header,
  &__description {
    border: 1px solid $shark;
    border-radius: 4px;
  }

  .list-degree-wrapper {
    display: flex;
    align-items: center;

    span {
      font-size: 15px;
    }
  }
  .list-dropdown__confirmation-content {
    display: flex;

    .action-button {
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }
}
