$shark: #191a1d;
$tuna: #33363d;
$gunPowder: #3D405B;
$emperor: #4F4F4F;
$aluminiumapprox: #a2a5ad;
$curiousBlue: #2a92bf;
$carnation: #fa5252;
$coral: #FB7E46;
$burntSienna: #EF8354;
$white: #FFFFFF;
$black: black;
